*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: black;
  color: white;
  box-sizing: border-box;
  overflow: hidden;
}
#app {
  min-height: 100vH;
  padding: 0;
  margin: 0;
}

.dragBox {
  position: absolute;
  background: lightseagreen;
  will-change: transform;
  transform: translate3d(0, 0, 0);
}
.header {
  background: lightslategrey;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}
